/*
	Custom styles

 */

 @import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Open+Sans+Condensed:300|Rajdhani:400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
 @import url('https://fonts.googleapis.com/css?family=Orbitron');
 @import url('https://fonts.googleapis.com/css?family=Electrolize');

 /* custom variables */

 $site-red-color: #ff1a00;
 $site-red-color-alt: #ff1a02;

 @include media-breakpoint-down(md) {
     .container{
         max-width: none;
         width: 100%;
     }
 }

 .bg {
     background: url($image-path+"background.jpg")
 }

 .padding15 {
     padding: 15px 0;
 }

 .padding30 {
     padding: 30px 0;
 }

 .padding60 {
     padding: 60px 0;
 }

 body {
     font-family: 'Electrolize',Arial,Helvetica,sans-serif !important;
 }


 /*top-bar*/

 header .top-bar {
     background: #000;
 }

 header .top-bar .fa {
     margin-top: 6px;
 }

 header .top-bar .social {
     float: right;
 }

 header .top-bar .social ul {
     margin: 0;
     padding: 0;
     margin-top: -1px;
 }

 header .top-bar .social ul li {
     list-style: none;
     padding: 0 6px;
     float: left;
     font-size: 20px;
 }

 header .top-bar .social ul li a {
     color: #fff;
 }

 header .top-bar input[type="text"] {
     background: none;
     border: none;
     color: #fff;
     text-transform: uppercase;
     padding-left: 5px;
     /*width: 90%;*/
 }

 header .top-bar .fa-search {
     color: #5e606d;
 }

 header .top-bar ::-webkit-input-placeholder {
     /* Chrome/Opera/Safari */
     color: #fff;
 }

 header .top-bar ::-moz-placeholder {
     /* Firefox 19+ */
     color: #fff;
 }

 header .top-bar :-ms-input-placeholder {
     /* IE 10+ */
     color: #fff;
 }

 header .top-bar :-moz-placeholder {
     /* Firefox 18- */
     color: #fff;
 }


 /*navigation*/

 header nav {
     background: #171926;
     padding: 20px 0;
     border: 1px solid #4c568a;
     border-width: 1px 0px 1px 0px;
 }

 header .logo {
     position: absolute;
     left: 0;
     top: 0;
 }

 .menuzord,
 .menuzord * {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box
 }

 .menuzord {
     width: 100%;
     float: left;
     position: relative;
 }

 .menuzord a {
     -o-transition: color .3s linear, background .3s linear;
     -moz-transition: color .3s linear, background .3s linear;
     -webkit-transition: color .3s linear, background .3s linear;
     transition: color .3s linear, background .3s linear
 }

 .menuzord-menu.scrollable>.scrollable-fix {
     display: none
 }

 .menuzord-brand {
     margin: 18px 30px 0 0;
     float: left;
     color: #666;
     text-decoration: none;
     font-size: 24px;
     font-weight: 600;
     line-height: 1.3;
     cursor: pointer
 }

 .menuzord-menu {
     margin: 0;
     padding: 0;
     float: left;
     list-style: none
 }

 .menuzord-menu.menuzord-right {
     float: right
 }

 .menuzord-menu>li {
     display: inline-block;
     float: left
 }

 .menuzord-menu>li>a {
     padding: 7px 16px;
     display: inline-block;
     text-decoration: none;
     font-size: 14px;
     text-transform: uppercase;
     color: #fff;
     outline: 0;
     line-height: 1.42857143;
     -webkit-tap-highlight-color: transparent
 }

 .menuzord-menu .active {
     background: $site-red-color;
     border: solid 1px #ff9801;
     box-shadow: 0 0 8px #ff9900;
 }

 .menuzord-menu>li.active>a,
 .menuzord-menu>li:hover>a {
     color: #333;
 }

 .menuzord-menu ul.dropdown,
 .menuzord-menu ul.dropdown li ul.dropdown {
     list-style: none;
     margin: 0;
     padding: 0;
     display: none;
     position: absolute;
     z-index: 99;
     min-width: 180px;
     white-space: nowrap;
     background: #6b2c8d
 }

 .menuzord-menu ul.dropdown li ul.dropdown {
     left: 100%
 }

 .menuzord-menu ul.dropdown li {
     clear: both;
     width: 100%;
     border: 0;
     font-size: 12px;
     position: relative;
     border-top: solid 1px #000000;
     border-bottom: solid 1px #8946ae;
 }

 .menuzord-menu ul.dropdown li:first-child {
     clear: both;
     width: 100%;
     border: 0;
     font-size: 12px;
     position: relative;
     border-top: none;
     border-bottom: none;
 }

 .menuzord-menu ul.dropdown li a {
     width: 100%;
     background: 0 0;
     padding: 10px 25px 10px 22px;
     color: #fff;
     text-decoration: none;
     display: inline-block;
     float: left;
     clear: both;
     position: relative;
     outline: 0;
     -o-transition: padding .2s linear;
     -moz-transition: padding .2s linear;
     -webkit-transition: padding .2s linear;
     transition: padding .2s linear
 }

 .menuzord-menu ul.dropdown li:hover>a {
     padding-left: 28px;
     padding-right: 19px;
     color: #333;
 }

 .menuzord-menu ul.dropdown.dropdown-left {
     left: none
 }

 .menuzord-menu ul.dropdown li ul.dropdown.dropdown-left {
     left: -100%
 }

 .menuzord-menu li .indicator {
     margin-left: 3px
 }

 .menuzord-menu li ul.dropdown li .indicator {
     position: absolute;
     top: 8px;
     right: 10px;
     font-size: 15px
 }

 .menuzord-menu>li>.megamenu {
     width: 100%;
     padding: 20px 30px;
     left: 0;
     position: absolute;
     display: none;
     z-index: 99;
     border-top: solid 1px #f0f0f0;
     background: #fff
 }

 .menuzord-menu>li>.megamenu.megamenu-half-width {
     width: 50%;
     left: auto
 }

 .menuzord-menu>li>.megamenu.megamenu-quarter-width {
     width: 25%;
     left: auto
 }

 .menuzord-menu>li>.megamenu .megamenu-row {
     width: 100%;
     margin-top: 15px
 }

 .menuzord-menu>li>.megamenu .megamenu-row:first-child {
     margin-top: 0
 }

 .menuzord-menu>li>.megamenu .megamenu-row:after,
 .menuzord-menu>li>.megamenu .megamenu-row:before {
     display: table;
     content: "";
     line-height: 0
 }

 .menuzord-menu>li>.megamenu .megamenu-row:after {
     clear: both
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col1,
 .menuzord-menu>li>.megamenu .megamenu-row .col10,
 .menuzord-menu>li>.megamenu .megamenu-row .col11,
 .menuzord-menu>li>.megamenu .megamenu-row .col12,
 .menuzord-menu>li>.megamenu .megamenu-row .col2,
 .menuzord-menu>li>.megamenu .megamenu-row .col3,
 .menuzord-menu>li>.megamenu .megamenu-row .col4,
 .menuzord-menu>li>.megamenu .megamenu-row .col5,
 .menuzord-menu>li>.megamenu .megamenu-row .col6,
 .menuzord-menu>li>.megamenu .megamenu-row .col7,
 .menuzord-menu>li>.megamenu .megamenu-row .col8,
 .menuzord-menu>li>.megamenu .megamenu-row .col9 {
     display: block;
     min-height: 20px;
     float: left;
     margin-left: 3%
 }

 .menuzord-menu>li>.megamenu .megamenu-row [class*=col]:first-child {
     margin-left: 0
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col1 {
     width: 5.583333333333%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col2 {
     width: 14.166666666666%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col3 {
     width: 22.75%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col4 {
     width: 31.333333333333%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col5 {
     width: 39.916666666667%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col6 {
     width: 48.5%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col7 {
     width: 57.083333333333%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col8 {
     width: 65.666666666667%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col9 {
     width: 74.25%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col10 {
     width: 82.833333333334%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col11 {
     width: 91.416666666667%
 }

 .menuzord-menu>li>.megamenu .megamenu-row .col12 {
     width: 100%
 }

 .menuzord .showhide {
     width: 60px;
     height: 46px;
     padding: 13px 0 0;
     display: none;
     float: right;
     text-decoration: none;
     outline: 0;
     -webkit-tap-highlight-color: transparent
 }

 .menuzord .showhide em {
     width: 20px;
     height: 3px;
     margin: 3.5px 20px 0;
     float: right;
     background: #fff
 }

 .menuzord-menu>li>a>i {
     margin: 0 5px 0 0;
     font-size: 12px;
     float: left;
     line-height: 20px;
     font-family: FontAwesome
 }

 .menuzord-menu>li.search form {
     float: left;
     padding: 22px 16px 17px
 }

 .menuzord-menu>li.search form input[type=text] {
     width: 160px;
     padding: 5px 10px;
     font-family: 'Electrolize',Arial,Helvetica,sans-serif;
     border: none;
     background: #f0f0f0;
     border-radius: 2px;
     outline: 0;
     -o-transition: width 1s ease-out;
     -moz-transition: width 1s ease-out;
     -webkit-transition: width 1s ease-out;
     transition: width 1s ease-out
 }

 .menuzord-menu>li.search form:hover input[type=text] {
     width: 160px
 }

 .menuzord-tabs {
     width: 100%;
     float: left
 }

 .menuzord-tabs-nav {
     width: 20%;
     margin: 0;
     padding: 0;
     float: left;
     list-style: none
 }

 .menuzord-tabs-nav>li>a {
     width: 100%;
     padding: 7px 16px;
     float: left;
     font-size: 13px;
     text-decoration: none;
     color: #666;
     border: 1px solid #f0f0f0;
     outline: 0
 }

 .menuzord-tabs-nav li.active a,
 .menuzord-tabs-nav li:hover a {
     background: #f0f0f0
 }

 .menuzord-tabs-content {
     width: 80%;
     min-height: 30px;
     padding: 20px;
     float: right;
     display: none;
     font-size: 13px;
     border: 1px solid #f0f0f0
 }

 .menuzord-tabs-content.active {
     display: block
 }

 .menuzord.blue .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.blue .menuzord-menu>li.active>a,
 .menuzord.blue .menuzord-menu>li:hover>a {
     color: #4A89DC
 }

 .menuzord.green .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.green .menuzord-menu>li.active>a,
 .menuzord.green .menuzord-menu>li:hover>a {
     color: #37BC9B
 }

 .menuzord.red .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.red .menuzord-menu>li.active>a,
 .menuzord.red .menuzord-menu>li:hover>a {
     color: #fff
 }

 .menuzord.orange .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.orange .menuzord-menu>li.active>a,
 .menuzord.orange .menuzord-menu>li:hover>a {
     color: #ff670f
 }

 .menuzord.yellow .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.yellow .menuzord-menu>li.active>a,
 .menuzord.yellow .menuzord-menu>li:hover>a {
     color: #F6BB42
 }

 .menuzord.purple .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.purple .menuzord-menu>li.active>a,
 .menuzord.purple .menuzord-menu>li:hover>a {
     color: #967ADC
 }

 .menuzord.pink .menuzord-menu ul.dropdown li:hover>a,
 .menuzord.pink .menuzord-menu>li.active>a,
 .menuzord.pink .menuzord-menu>li:hover>a {
     color: #D770AD
 }

 @media (max-width:768px) {
     .menuzord-responsive.menuzord {
         padding: 0
     }
     .menuzord-responsive .menuzord-brand {
         margin: 8px 30px 10px 20px;
         font-size: 20px;
         line-height: 1.55
     }
     .menuzord-responsive .showhide {
         margin: 0
     }
     .menuzord-responsive .menuzord-menu {
         width: 100%;
         float: left!important;
         background: #181a27;
     }
     .menuzord-responsive .menuzord-menu.scrollable {
         overflow-y: auto;
         -webkit-overflow-scrolling: touch
     }
     .menuzord-responsive .menuzord-menu.scrollable>.scrollable-fix {
         display: block
     }
     .menuzord-responsive .menuzord-menu>li {
         width: 100%;
         display: block;
         position: relative
     }
     .menuzord-responsive .menuzord-menu>li>a {
         width: 100%;
         padding: 3px 20px;
         display: block;
         border-top: solid 1px #000000;
         border-bottom: solid 1px #4a5487;
         font-size: 16px;
     }
     .menuzord-responsive .menuzord-menu>li:first-child>a {
         border: none;
     }
     .menuzord-responsive .menuzord-menu ul.dropdown,
     .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown {
         width: 100%;
         left: 0;
         position: static;
         border: none;
         float: left
     }
     .menuzord-responsive .menuzord-menu ul.dropdown li {
         position: relative
     }
     .menuzord-responsive .menuzord-menu ul.dropdown li a {
         border-bottom: solid 1px #8946ae;
     }
     .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>a {
         padding-left: 40px!important
     }
     .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>a {
         padding-left: 60px!important
     }
     .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>ul.dropdown>li>a {
         padding-left: 80px!important
     }
     .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li:hover>a {
         padding-left: 50px!important
     }
     .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li:hover>a {
         padding-left: 70px!important
     }
     .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>ul.dropdown>li:hover>a {
         padding-left: 90px!important
     }
     .menuzord-responsive .menuzord-menu li .indicator {
         width: 60px;
         height: 45px;
         position: absolute;
         right: 0;
         top: 0;
         font-size: 22px;
         text-align: center;
         line-height: 43px;
         border-left: solid 1px #8946ae;
     }
     .menuzord-responsive .menuzord-menu li ul.dropdown li .indicator {
         height: 38px;
         right: 0;
         top: 0;
         font-size: 18px;
         line-height: 36px
     }
     .menuzord-responsive .menuzord-menu>li>.megamenu {
         width: 100%!important;
         left: 0!important;
         position: static;
         border-top: none;
         border-bottom: solid 1px #f0f0f0
     }
     .menuzord-responsive .menuzord-menu>li>.megamenu .megamenu-row [class*=col] {
         float: none;
         display: block;
         width: 100%!important;
         margin-left: 0;
         margin-top: 15px
     }
     .menuzord-responsive .menuzord-menu>li>.megamenu .megamenu-row,
     .menuzord-responsive .menuzord-menu>li>.megamenu .megamenu-row:first-child [class*=col]:first-child {
         margin-top: 0
     }
     .menuzord-responsive .menuzord-menu>li.search form {
         width: 100%;
         margin: 4px 0;
         padding: 10px 16px!important
     }
     .menuzord-responsive .menuzord-menu>li.search form input[type=text],
     .menuzord-responsive .menuzord-tabs-content,
     .menuzord-responsive .menuzord-tabs-nav {
         width: 100%
     }
 }


 /*end*/


 /*banner*/

 figure {
     background: url($image-path+"banner.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 figure .banner_wrapper {
     background: url($image-path+"line1.png") no-repeat left top;
     padding: 5px 0 0 35px;
     margin-top: 15%;
     margin-bottom: 10%;
 }

 figure .banner_wrapper h1 {
     font-size: 40px;
     font-weight: 600;
     text-transform: uppercase;
     color: $site-red-color;
     border: 0 solid #000;
     margin-bottom: 15px;
     text-shadow: 0 0 2px #ff9a00;
 }

 figure .banner_wrapper p {
     font-size: 18px;
     font-weight: 400;
     text-transform: uppercase;
     color: #fff;
 }

 figure .banner_wrapper button {
     background: $site-red-color;
     border: solid 1px #ff9900;
     color: #fff;
     text-transform: uppercase;
     font-size: 22px;
     padding: 3px 16px;
     margin-right: 10px;
     box-shadow: 0 0 8px #ff9900;
 }


 /*End*/


 /*New*/

 section .news {
     background: url($image-path+"red-arch.png") no-repeat left center;
     text-align: right;
     padding: 0;
     border: 1px solid $site-red-color;
     border-width: 1px 0px 1px 0px;
 }

 section .update_bar {
     color: #FFFFFF;
 }

 section .update_heading {
     padding-right: 3%;
     float: left;
     width: 17%;
     text-transform: uppercase;
     font-weight: 300;
     padding-bottom: 5px;
     padding-top: 2px;
 }

 section .update_heading h3 {
     margin: 0;
     font-size: 24px;
 }

 section .update_text {
     float: right;
     width: 79%;
     margin-left: 3%;
     padding: 0 0;
 }

 section .update_text p {
     float: left;
     padding: 4px 5px 5px 5px;
     margin: 0 15px 0 0;
 }

 section .update_text .tag {
     font-size: 11px;
     background: #8093ff;
     color: #FFFFFF;
     padding: 3px 10px;
     border-radius: 35px;
 }


 /*article box*/

 article .box {
     position: relative;
     margin-bottom: 20px;
     display: block;
     background: #160301;
     cursor: pointer;
 }

 article .box .content {
     position: absolute;
     bottom: 10px;
     color: #fff;
     padding: 10px;
     display: block;
 }

 article .box img {
     width: 100%;
     display: block;
     opacity: 0.3;
     filter: alpha(opacity=30);
     /* For IE8 and earlier */
     transition: all 0.3s ease 0s;
 }

 article .box:hover img {
     width: 100%;
     height: auto;
     display: block;
     opacity: 0.7;
     filter: alpha(opacity=70);
     /* For IE8 and earlier */
 }

 article .box .content p {
     font-size: 20px;
     text-transform: uppercase;
 }

 article .box .content .tag {
     background: $site-red-color !important;
     display: table;
     padding: 3px 13px;
     border-radius: 20px;
     font-size: 13px;
 }

 article .box .content .tag a {
     color: #fff;
     text-decoration: none;
 }


 /*End*/


 /*Latest News*/

 section .latest {}

 section .latest h2 {
     font-size: 30px;
     margin: 0 0 10px;
     border-left: 3px solid $site-red-color;
     padding-left: 10px;
     color: #fff;
 }

 section .latest .box {
     position: relative;
     background: #160301;
 }

 section .latest .box .content {
     position: absolute;
     bottom: 30px;
     color: #fff;
     padding: 30px;
 }

 section .latest .box .content .date {
     color: $site-red-color-alt;
     text-transform: uppercase;
     font-size: 20px;
     margin-bottom: 10px;
 }

 section .latest .box .content .title {
     font-size: 30px;
     text-transform: uppercase;
 }

 section .latest .box .content a {
     color: $site-red-color-alt;
     text-transform: uppercase;
     text-decoration: none;
     font-size: 18px;
 }

 section .latest .box .content a::before {
     content: url($image-path+"ico.png");
     height: 13px;
     margin-right: 5px;
 }

 section .latest .box:hover .content .date {
     color: #fff;
 }

 section .latest .box:hover a {
     color: #fff;
 }

 section .latest .box img {
     width: 100%;
     height: auto;
     display: block;
     opacity: 0.3;
     filter: alpha(opacity=30);
     /* For IE8 and earlier */
     transition: all 0.3s ease 0s;
 }

 section .latest .box:hover img {
     width: 100%;
     height: auto;
     display: block;
     opacity: 0.7;
     filter: alpha(opacity=70);
     /* For IE8 and earlier */
 }

 section .latest .right-box {
     margin-bottom: 10px;
 }

 section .latest .right-box img {
     border: solid 1px #7f94ff;
 }

 section .latest .right-box p {
     color: $site-red-color-alt;
     font-size: 18px;
     margin: 10px 0;
 }

 section .latest .right-box a {
     color: #fff;
     text-transform: uppercase;
     font-size: 20px;
     text-decoration: underline;
 }


 /*End*/


 /*Member*/

 aside h2 {
     color: #fff;
     font-size: 30px;
     text-transform: uppercase;
     font-weight: normal;
     border-left: solid 3px $site-red-color-alt;
     padding-left: 10px;
 }

 aside .member {
     border: solid 1px #7f94ff;
     padding: 10px;
     margin: 10px 0;
 }

 aside .member .title {
     color: $site-red-color-alt;
     font-size: 20px;
     text-transform: uppercase;
 }

 aside .member p {
     color: #fff;
     font-size: 14px;
 }

 aside .member p a {
     color: $site-red-color-alt;
     text-transform: uppercase;
     text-decoration: none;
 }

 aside .member p a::before {
     content: url($image-path+"ico.png");
     height: 13px;
     margin-right: 5px;
 }

 aside .member p a:hover {
     color: #fff;
 }


 /*End*/


 /*About page*/

 section .about {}

 section .about h1 {
     color: $site-red-color-alt;
     font-size: 40px;
     text-transform: uppercase;
     margin: 0 0 10px;
 }

 section .about p {
     color: #fff;
     font-size: 16px;
 }

 section .about .button {
     background: $site-red-color;
     border: solid 1px #ff9900;
     color: #fff;
     text-transform: uppercase;
     font-size: 18px;
     padding: 9px 16px;
     margin-right: 10px;
     box-shadow: 0 0 8px #ff9900;
     display: table;
     margin-top: 10px;
     text-decoration: none;
 }

 section .about .button2 {
     background: $site-red-color;
     border: solid 1px #ff9900;
     color: #fff;
     text-transform: uppercase;
     font-size: 25px;
     padding: 5px 16px;
     margin-right: 10px;
     box-shadow: 0 0 8px #ff9900;
     display: table;
     margin-top: 20px;
     text-decoration: none;
 }

 section .about .img {
     border: solid 1px #7f94ff;
 }


 /*breadcrumb bar*/

 figcaption {}

 figcaption .breadcrumb {
     background: none;
     margin: 34px 0 0 0;
 }

 figcaption .breadcrumb li {
     color: #fff;
     text-transform: uppercase;
     font-size: 14px;
 }

 figcaption .breadcrumb li span {
     color: #8193ff
 }

 figcaption .breadcrumb>li+li::before {
     content: url($image-path+"ico2.png");
     height: 10px;
     padding: 0 5px;
     color: #ccc;
 }


 /*Team Page*/

 section .team .box {
     border: solid 1px #7f94ff;
     padding: 10px;
     display: table;
     width: 100%;
     margin-bottom: 10px;
 }

 section .team .box .img {
     border: solid 1px #8193ff;
     border-width: 1px 1px 1px 4px;
     padding: 4px;
     margin-right: 6px;
 }

 section .team .box .title {
     color: $site-red-color-alt;
     text-transform: uppercase;
     font-size: 20px;
 }

 section .team .box .text {
     color: #fff;
     text-transform: uppercase;
     font-size: 13px;
     margin-bottom: 10px;
 }

 section .team .box .title2 {
     color: $site-red-color-alt;
     font-size: 17px;
     text-transform: uppercase;
 }

 section .team .box .date {
     color: #fff;
     font-size: 13px;
     text-transform: uppercase;
 }

 section .team .box .bordered {
     border-color: #8193ff;
     border-style: solid;
     border-top-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 0px;
     border-right-width: 0px;
     display: table;
     margin-top: 10px;
     padding-bottom: 5px;
     margin-bottom: 5px;
     width: 100%;
 }

 section .team .box a {
     color: $site-red-color-alt;
     font-size: 19px;
     ttext-decoration: none;
 }

 section .team .box a:hover {
     text-decoration: none;
 }

 section .team .box a::before {
     content: url($image-path+"ico.png");
     height: 13px;
     margin-right: 5px;
 }


 /*content*/

 section .blank {
     border: solid 1px #8193ff;
     padding: 20px;
     margin-bottom: 20px;
 }

 section .blank h2 {
     font-size: 25px;
     margin: 0;
     color: #fff;
 }

 section .blank p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     margin: 10px 0;
 }

 section .blank .list {
     margin: 10px 0;
 }

 section .blank .list ul {
     margin: 0px;
     padding: 0;
 }

 section .blank .list ul li {
     list-style: none;
     padding: 5px 0;
     color: $site-red-color-alt;
     font-size: 17px;
 }


 /*team-member*/

 section .team-member .box {
     border: solid 1px #8193ff;
     padding: 20px;
     margin-bottom: 20px;
 }

 section .team-member .box h2 {
     font-size: 25px;
     margin: 0;
     color: #fff;
 }

 section .team-member .box p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     margin: 10px 0;
 }

 section .team-member .box .list {
     margin: 10px 0;
 }

 section .team-member .box .list ul {
     margin: 0px;
     padding: 0;
 }

 section .team-member .box .list ul li {
     list-style: none;
     padding: 5px 0;
     color: $site-red-color-alt;
     font-size: 17px;
 }

 section .team-member .img {
     position: relative;
 }

 section .team-member .img .border-left {
     position: absolute;
     left: -10px;
 }

 section .team-member .img .border-right {
     float: right;
     margin-top: -40px;
     margin-right: -9px;
 }

 section .team-member .img button {
     border: solid 1px #8193ff;
     background: none;
     padding: 10px 18px;
     color: #fff;
     text-transform: uppercase;
     font-size: 22px;
 }


 /*footer*/

 .footer {
     background: rgba(25, 26, 28, 0.9);
     padding: 30px 0;
 }

 footer h3 {
     color: #fff;
     text-transform: uppercase;
     font-size: 25px;
     margin: 0 0 10px;
     border-left: solid 3px $site-red-color-alt;
     padding-left: 10px;
 }

 footer ul {
     margin: 0px;
     padding: 0;
 }

 footer ul li {
     list-style: none;
     padding: 3px 0;
     font-size: 12px;
     text-transform: uppercase;
 }

 footer ul li a {
     color: $site-red-color-alt;
     text-decoration: none;
 }

 footer ul li a:hover {
     color: #fff;
     text-decoration: none;
 }

 footer .copy {
     padding: 20px 0;
     color: #fff;
     text-transform: uppercase;
     font-size: 14px;
 }

 @media (max-width:767px) {
     /*top-bar*/
     header .top-bar .social {
         float: left;
     }
     header .top-bar .social ul li {
         list-style: none;
         padding: 0 4px;
         float: left;
         font-size: 14px;
     }
     header .top-bar input[type="text"] {
         background: none;
         border: none;
         color: #fff;
         text-transform: uppercase;
         padding: 5px;
         width: 88%;
     }
     /*header*/
     header .logo {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100px;
     }
     /*banner*/
     figure {
         background: url($image-path+"banner.jpg") no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
     }
     figure .banner_wrapper {
         background: url($image-path+"line1.png") no-repeat left top;
         padding: 5px 0 0 35px;
         margin-top: 5%;
     }
     figure .banner_wrapper h1 {
         font-size: 20px;
     }
     figure .banner_wrapper p {
         font-size: 16px;
     }
     /*New*/
     section .news {
         background: none;
         padding: 0;
         border: 1px solid $site-red-color;
         border-width: 1px 0px 1px 0px;
     }
     section .update_heading h3 {
         margin: 10px 0;
         font-size: 13px;
     }
     /*latest news*/
     section .latest .box .content {
         bottom: 10px;
         padding: 20px;
     }
     section .latest .box .content .title {
         font-size: 16px;
         text-transform: uppercase;
     }
     section .latest .box .content p {
         margin: 0;
     }
 }

 @media (min-width:768px) and (max-width:991px) {
     /*banner*/
     figure {
         background: url($image-path+"banner.jpg") no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
     }
     figure .banner_wrapper {
         background: url($image-path+"line1.png") no-repeat left top;
         padding: 5px 0 0 35px;
         margin-top: 25%;
     }
     figure .banner_wrapper h1 {
         font-size: 25px;
     }
     figure .banner_wrapper p {
         font-size: 16px;
     }
     /*News*/
     section .news {
         background: url($image-path+"red-arch.png") no-repeat left center;
         text-align: right;
         padding: 0;
         border: 1px solid $site-red-color;
         border-width: 1px 0px 1px 0px;
     }
     section .update_bar {
         color: #FFFFFF;
     }
     section .update_heading {
         padding-right: 3%;
         float: left;
         width: 26%;
         text-transform: uppercase;
         font-weight: 300;
         padding-bottom: 5px;
         padding-top: 2px;
     }
     section .update_heading h3 {
         margin: 0;
         font-size: 24px;
     }
     section .update_text {
         float: right;
         width: 40%;
         margin-left: 3%;
         padding: 0 0;
     }
     /*article box*/
     article .box .content p {
         font-size: 15px;
     }
 }

 @media (min-width:992px) and (max-width:1199px) {
     /*News*/
     section .update_text {
         float: right;
         width: 55%;
         margin-left: 3%;
         padding: 0 0;
     }
 }

 .site-pagination{
     .page-link {
         color: #fff;
         background-color: $site-red-color;
         border: 1px solid #ff9900;
     }
 }

 .site-blog-tag{
     background-color: transparent;
     border-width: 1px;
     border-style: solid;
     border-color: $site-red-color;
     color: $white;
     padding: 2px 5px; //5px 10px
     font-size: 1rem;
     text-transform: uppercase;
 }
 .site-media-img-sm{
     width: 64px;
     height: 64px;
 }
 .comments{
     color: $white;
 }
 .text-red{
     color: $site-red-color;
 }
 .site-card-transparent{
     background-color: transparent;
     .form-group{
         label{
             color: $site-red-color;
         }
         .form-control{
             background-color: transparent;
             color: $white;
         }
     }
 }
 .site-btn-red {
     background: $site-red-color;
     border: solid 1px #ff9900;
     color: #fff;
     text-transform: uppercase;
     font-size: 22px;
     padding: 9px 16px;
     margin-right: 10px;
     box-shadow: 0 0 8px #ff9900;
     transition: 0.50s;
     &:hover,
     &:focus {
         text-decoration: none;
         color: #ff9900 !important;
         border: 1px solid $site-red-color !important;
         box-shadow: 0 0 8px $site-red-color !important;
         background-color: transparent !important;
     }
 }
 .button{
     transition: 0.50s;
     &:hover,
     &:focus {
         text-decoration: none;
         color: #ff9900 !important;
         border: 1px solid $site-red-color !important;
         box-shadow: 0 0 8px $site-red-color !important;
         background-color: transparent !important;
     }
 }


.content-line-image {
    background-image: url($image-path+"line2.png");
    background-size: contain;
    height: 27px;
    width: 1120px;
    margin-bottom: 10px;
}

.donation {
    background-image: url($image-path+"donation-blank.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 65px;
    margin-top: -30px;
    color: white;
    font-size: 30px;
    padding-top:0px;
}

.donation.btn {
    background-color: transparent;
    text-transform: uppercase;
}

.box-height {
    height: 300px;
}

.blog-card-body {
    color: #ccc;
}

.blog-card {
    background: #171926;
    margin-bottom: 5px;
}

.card-img-top {
    object-fit: cover;
    max-height: 200px;
    max-width: 1110px;
}

.redspacer {
    background-image: url($image-path+"spacer.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2px;
    background-position: center;
    margin: 2px;
}

.blankspacer {
    margin: 10px;
}

.page-link {
    background-color: #171926;
    border: 1px solid #4c568a;
    color: white;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.page-item.active {
    background-color: $main-bg-color;
    border: solid 1px $main-border-color;
    box-shadow: 0 0 8px $main-shadow-color;
    -webkit-box-shadow: 0 0 8px $main-shadow-color;
}

.page-item.active:hover {
    background-color: $main-bg-alt-color;
    border: solid 1px $main-border-alt-color;
    box-shadow: 0 0 8px $main-shadow-alt-color;
    -webkit-box-shadow: 0 0 8px $main-bg-alt-color;
}
.page-link:hover {
    background-color: $main-bg-color;
    border: solid 1px $main-border-color;
    box-shadow: 0 0 8px $main-shadow-color;
}
.page-item.disabled .page-link {
    color: white;
    pointer-events: none;
    cursor: auto;
    background-color: $main-bg-alt-color;
    border-color: transparent;
    border: solid 1px $main-border-alt-color;
}

.comment-like {
    font-size: 14px !important;
    padding: 2px 4px !important;
}

.tooltip-inner {
    max-width: 650px;
    color: #8093ff;
    background-color: #171926;
}