
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Electrolize',Arial,Helvetica,sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg-color: #ff1a00;
$main-border-color: #ff9801;
$main-shadow-color: #ff9900;

$main-bg-alt-color: #171926;
$main-border-alt-color: #4c568a;
$main-shadow-alt-color: #ff1a00;

$image-path: "/images/";